body {
  background-color: lightyellow;
}


.color {
  font-size: 40px;
  text-align: center;
}

/* different ways to change the color property */

h1 {
  color: red;
}

h2 {
  color: #fffff0;
}

h3 {
  color: rgb(0, 204, 255);
}